{{> nav user=user }}
<!-- navigation to filter options -->
<div class="bg-light">
	<div class="container p-2">
		<!-- form: location, rooms, price, order, house name, button3 -->
		<form action="/houses" method="GET">
			<div class="row justify-content-center align-items-center">
				<!-- location filter -->
				<div class="col input-group">
					<span class="input-group-text">
						<i class="fa-solid fa-location-dot"></i>
					</span>
					<select name="location" class="form-control" name="location">
						<option value="">Any Location</option>
						<option>Koh Phangan</option>
						<option>Koh Samui</option>
						<option>Bali</option>
					</select>
				</div>
				<!-- rooms filter -->
				<div class="col input-group">
					<span class="input-group-text">
						<i class="fa-solid fa-house-chimney"></i>
					</span>
					<select name="rooms" class="form-control" name="rooms">
						<option value="">Any Rooms</option>
						<option value="1">1 room</option>
						<option value="2">2 rooms</option>
						<option value="3">3 rooms</option>
						<option value="4">4 rooms</option>
						<option value="5">5 rooms</option>
					</select>
				</div>
				<!-- price filter -->
				<div class="col input-group">
					<span class="input-group-text">
						<i class="fa-solid fa-dollar-sign"></i>
					</span>
					<input
						name="price"
						type="number"
						class="form-control"
						placeholder="Max. Price"
						name="price"
					/>
				</div>
				<!-- order filter -->
				<div class="col input-group">
					<span class="input-group-text">
						<i class="fa-solid fa-sort"></i>
					</span>
					<select name="order" class="form-control">
						<option value="1">Price (low to high)</option>
						<option value="-1">Price (high to low)</option>
					</select>
				</div>
				<!-- search filter -->
				<div class="col">
					<div class="col input-group">
						<input
							name="search"
							type="text"
							class="form-control"
							placeholder="House name..."
							name="search"
						/>
					</div>
				</div>
				<!-- search button -->
				<div class="col">
					<button class="btn btn-success">Search</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- section with cards -->
<section class="container p-2">
	<!-- cards -->
	<div class="row row-cols-4 g-3">
		<!-- House 1 -->
		{{#each houses as |house|}}
		<div class="col g-3">
			<div class="card">
				<!-- House image -->
				<img
					src="{{ house.photos.[0] }}"
					class="card-img-top"
				/>
				<div class="card-body">
					<!-- Location & Rooms -->
					<small class="text-muted">
						<i class="fa-solid fa-location-dot"></i>
						{{ house.location }} • {{ house.rooms }} Rooms
					</small>
					<!-- Title -->
					<h5 class="card-title">{{ house.title }}</h5>
					<!-- Reviews & Price -->
					<div class="row">
						<!-- Reviews -->
						<div class="col">
							<small class="text-muted">
								<i class="fa-solid fa-thumbs-up text-success"></i>
								3 Reviews
							</small>
						</div>
						<!-- Price -->
						<div class="col text-end">
							<small class="text-muted">${{ house.price }}/night</small>
						</div>
					</div>
					<!-- Link on card -->
					<a href="/houses/{{ house._id }}" class="stretched-link"></a>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</section>
