{{> nav}}
<!-- section with house pictures -->
<div class="border-top border-bottom border-grey house mb-5">
	<div class="row">
		<!-- col1: big pic -->
		<div class="col">
			<img
				src="{{house.photos.[0]}}"
			/>
		</div>
		<!-- col1: row-cols-3 means 3 columns for each row -->
		<div class="col">
			<div class="row row-cols-3 p-5 g-5">
				<!-- pictures loop -->
				{{#each house.photos as |photo|}}
					<div class="col">
						<img src="{{ photo }}"	/>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<!-- section with house info and booking -->
<div class="container">
	<div class="row">
		<!-- col1: info, reviews and comments -->
		<div class="col-8">
			<div class="row">
				<!-- info area -->
				<div class="col-10 mb-4">
					<!-- name of the house, location and room number-->
					<!-- title -->
					<p class="fs-2 mb-0">{{ house.title }}</p>
					<!-- location and room numbers -->
					<small class="text-muted">
						<i class="fa-solid fa-location-dot text-success"></i>
						{{ house.location }} • {{ house.rooms }} Rooms
					</small>
					<!-- col1: pic & col2: info -->
					<div class="row py-4">
						<div class="col-1 host">
							<img
								class="me-2"
								src="{{ user.avatar }}"
								alt="profile-picture"
							/>
						</div>
						<div class="col-11">
							<small class="text-muted">Hosted by</small>
							<div><small>{{ user.name }}</small></div>
						</div>
					</div>
					<!-- text with information -->
					<p>{{ house.description }}</p>
				</div>
				<!-- write review area -->
				<div class="col-10 mb-5">
					<!-- title -->
					<p class="fs-3 mb-0">2 Reviews</p>
					<p class="fs-6 mb-0">Leave a review</p>
					<form>
						<!-- text area -->
						<textarea
							class="form-control"
							rows="4"
							name="review"
						></textarea>
						<!-- review icons and button -->
						<div class="my-2">
							<!-- thumbs up -->
							<div class="btn btn-outline-success">
								<i class="fa-solid fa-thumbs-up text-success"></i>
							</div>
							<!-- thumbs down -->
							<div class="btn btn-outline-danger">
								<i class="fa-solid fa-thumbs-down text-danger"></i>
							</div>
						</div>
						<button class="btn btn-success">Submit</button>
					</form>
				</div>
				<!-- comments area -->
				<!-- comment 1 -->
				<div class="col-10 pb-4">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<!-- col1: pic -->
								<div class="col-1 host">
									<img
										class="me-2"
										src="https://randomuser.me/api/portraits/men/11.jpg"
										alt="profile-picture"
									/>
								</div>
								<!-- col2: card info -->
								<div class="col-11">
									<!-- card: col1: date & col2: review icon -->
									<div class="row">
										<div class="col text-muted">
											<small>02 Jan 2022 - 01:01</small>
										</div>
										<div class="col text-end">
											<i class="fa-solid fa-thumbs-up text-success"></i>
										</div>
									</div>
									<!-- card: name & info -->
									<p>Peter Lewis</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing
										elit. Pariatur voluptas repellat maiores libero dolor
										esse voluptatibus atque vitae a odit, itaque officiis,
										facilis debitis iure distinctio harum eaque, ullam id?
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- comment 2 -->
				<div class="col-10 pb-4">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<!-- col1: pic -->
								<div class="col-1 host">
									<img
										class="me-2"
										src="https://randomuser.me/api/portraits/men/11.jpg"
										alt="profile-picture"
									/>
								</div>
								<!-- col2: card info -->
								<div class="col-11">
									<!-- card: col1: date & col2: review icon -->
									<div class="row">
										<div class="col text-muted">
											<small>02 Jan 2022 - 01:01</small>
										</div>
										<div class="col text-end">
											<i class="fa-solid fa-thumbs-up text-success"></i>
										</div>
									</div>
									<!-- card: name & info -->
									<p>Peter Lewis</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing
										elit. Pariatur voluptas repellat maiores libero dolor
										esse voluptatibus atque vitae a odit, itaque officiis,
										facilis debitis iure distinctio harum eaque, ullam id?
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- if statement, if booking is true, it'll give the option 2, if it's false, it'll give option 1 -->
		{{#if booking}}
		<!-- option 2 -->
		<!-- col2: booking requested -->
		<div class="col-4">
			<div class="card shadow p-3 mb-5 bg-body rounded">
				<div class="card-body">
					<h5 class="card-title">$350/night</h5>
					<small>
						<i class="fa-solid fa-thumbs-up text-success mb-3"></i>
						2 Reviews</small
					>
					<div class="card bg-success bg-opacity-25">
						<div class="card-body">
							<p class="m-0">Thank you for your enquiry.</p>
							<small>Sent on {{ booking.date }}</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end of option 2 -->
		{{else}}
		<!-- option 1 -->
		<!-- col2: request booking -->
		<div class="col-4">
			<div class="card shadow p-3 mb-5 bg-body rounded">
				<div class="card-body">
					<h5 class="card-title">$350/night</h5>
					<small>
						<i class="fa-solid fa-thumbs-up text-success"></i>
						2 Reviews</small
					>
					<form action="/bookings" method="POST">
						<input type="text" name="house" value="{{ house.id }}" hidden>
						<textarea
							class="form-control my-3"
							rows="7"
							placeholder="Send the host a message..."
							name="description"
						></textarea>
						<button class="btn btn-success">Request Booking</button>
					</form>
				</div>
			</div>
		</div>
		{{/if}}
	</div>
</div>
